body {
    font-family: 'Lexend Deca', sans-serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

div.kindle-clipping {
    margin: 1rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    /* border: 1px solid black; */
}

div.kindle-clipping h1{
    font-size: 1.4rem;
}

div.kindle-clipping p {
    color: #6d6d6d;
    font-size: 1.1rem;
    width: 95%;
    margin-left: auto;
    /* margin-right: auto; */

}

@media only screen and (max-device-width: 480px) {
    div.kindle-clipping h1{
        font-size: 18px;
    }
    div.kindle-clipping p {
        color: #6d6d6d;
        font-size: 16px;
        width: 98%;
        margin-left: auto;
        /* margin-right: auto; */

    }
}